*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: 0.5s; */
}
.head{
    margin: 10px 0;
}
#main{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: max-content;
    width: max-content;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
}
#btn {
    margin: 10px 0;
    background-color:  rgba(255, 0, 0, 0.6);
    padding: 10px;
transition: 0.1s;
    
border: 2px solid white;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
}